In [13]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [14]:
# Load Test data from our github repo
url_test = 'https://raw.githubusercontent.com/tjayada/iANNwTF_Project/main/data/Test.csv'
dataDF_test = pd.read_csv(url_test)

# Load Train data from our github repo
url_train = 'https://raw.githubusercontent.com/tjayada/iANNwTF_Project/main/data/Train.csv'
dataDF_train = pd.read_csv(url_train)

In [15]:
# create data without clomumns 70 - 76 and drop NaN's

# for test date
data_without_columns_test = dataDF_test.copy()
data_without_columns_test = data_without_columns_test.drop(["L3_CH4_CH4_column_volume_mixing_ratio_dry_air", "L3_CH4_aerosol_height", "L3_CH4_aerosol_optical_depth",
                                      "L3_CH4_sensor_azimuth_angle", "L3_CH4_sensor_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_solar_zenith_angle"], axis=1)
data_without_columns_test = data_without_columns_test.dropna()

# for train data
data_without_columns_train = dataDF_train.copy()
data_without_columns_train = data_without_columns_train.drop(["L3_CH4_CH4_column_volume_mixing_ratio_dry_air", "L3_CH4_aerosol_height", "L3_CH4_aerosol_optical_depth",
                                      "L3_CH4_sensor_azimuth_angle", "L3_CH4_sensor_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_solar_zenith_angle"], axis=1)
data_without_columns_train = data_without_columns_train.dropna()

In [16]:
# remove targets and create labels

data_without_columns_train_labels = data_without_columns_train[['target']]
data_without_columns_train = data_without_columns_train.drop(["target", "target_min", "target_max", "target_variance", "target_count"], axis=1)

In [17]:
# normalize data

# for test data
x = data_without_columns_test.iloc[:,3:]
data_without_columns_test.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

# for train data
x = data_without_columns_train.iloc[:,3:]
data_without_columns_train.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

In [18]:
# convert dates to datetime

data_without_columns_test['date'] = pd.to_datetime(data_without_columns_test['Date'],format='%Y-%m-%d')
data_without_columns_train['date'] = pd.to_datetime(data_without_columns_train['Date'],format='%Y-%m-%d')


# add weekdays based on dates

data_without_columns_test['weekday'] = data_without_columns_test['date'].dt.weekday
data_without_columns_train['weekday'] = data_without_columns_train['date'].dt.weekday


# add month based on dates

data_without_columns_test['month'] = data_without_columns_test['date'].dt.month
data_without_columns_train['month'] = data_without_columns_train['date'].dt.month

In [19]:
###################################################################################################################################

In [20]:
# create data set with mean values as replacement for NaN's

# for test data
data_with_mean_NaN_test = dataDF_test.copy()
data_with_mean_NaN_test = data_with_mean_NaN_test.fillna(data_with_mean_NaN_test.mean())

# for train data
data_with_mean_NaN_train = dataDF_train.copy()
data_with_mean_NaN_train = data_with_mean_NaN_train.fillna(data_with_mean_NaN_train.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

In [21]:
# remove targets and create labels

data_with_mean_NaN_train_labels = data_with_mean_NaN_train[['target']]
data_with_mean_NaN_train = data_with_mean_NaN_train.drop(["target", "target_min", "target_max", "target_variance", "target_count"], axis=1)

In [22]:
# normalize data

# for test data
x = data_with_mean_NaN_test.iloc[:,3:]
data_with_mean_NaN_test.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

# for train data
x = data_with_mean_NaN_train.iloc[:,3:]
data_with_mean_NaN_train.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

In [23]:
# convert dates to datetime

data_with_mean_NaN_test['date'] = pd.to_datetime(data_with_mean_NaN_test['Date'],format='%Y-%m-%d')
data_with_mean_NaN_train['date'] = pd.to_datetime(data_with_mean_NaN_train['Date'],format='%Y-%m-%d')


# add weekdays based on dates

data_with_mean_NaN_test['weekday'] = data_with_mean_NaN_test['date'].dt.weekday
data_with_mean_NaN_train['weekday'] = data_with_mean_NaN_train['date'].dt.weekday


# add month based on dates

data_with_mean_NaN_test['month'] = data_with_mean_NaN_test['date'].dt.month
data_with_mean_NaN_train['month'] = data_with_mean_NaN_train['date'].dt.month