In [218]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [219]:
# Load Test data from our github repo
url_test = 'https://raw.githubusercontent.com/tjayada/iANNwTF_Project/main/data/Test.csv'
dataDF_test = pd.read_csv(url_test)

# Load Train data from our github repo
url_train = 'https://raw.githubusercontent.com/tjayada/iANNwTF_Project/main/data/Train.csv'
dataDF_train = pd.read_csv(url_train)

In [220]:
# create data without clomumns 70 - 76 and drop NaN's

# for test date
data_without_columns_test = dataDF_test.copy()
data_without_columns_test = data_without_columns_test.drop(["L3_CH4_CH4_column_volume_mixing_ratio_dry_air", "L3_CH4_aerosol_height", "L3_CH4_aerosol_optical_depth",
                                      "L3_CH4_sensor_azimuth_angle", "L3_CH4_sensor_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_solar_zenith_angle"], axis=1)
data_without_columns_test = data_without_columns_test.dropna()

# for train data
data_without_columns_train = dataDF_train.copy()
data_without_columns_train = data_without_columns_train.drop(["L3_CH4_CH4_column_volume_mixing_ratio_dry_air", "L3_CH4_aerosol_height", "L3_CH4_aerosol_optical_depth",
                                      "L3_CH4_sensor_azimuth_angle", "L3_CH4_sensor_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_solar_zenith_angle"], axis=1)
data_without_columns_train = data_without_columns_train.dropna()

In [221]:
# remove targets and create labels

data_without_columns_train_labels = data_without_columns_train[['target']]
data_without_columns_train = data_without_columns_train.drop(["target", "target_min", "target_max", "target_variance", "target_count"], axis=1)

In [222]:
# normalize data

# for test data
x = data_without_columns_test.iloc[:,3:]
data_without_columns_test.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

# for train data
x = data_without_columns_train.iloc[:,3:]
data_without_columns_train.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

In [223]:
# convert dates to datetime 

data_without_columns_test['date'] = pd.to_datetime(data_without_columns_test['Date'],format='%Y-%m-%d')
data_without_columns_train['date'] = pd.to_datetime(data_without_columns_train['Date'],format='%Y-%m-%d')



# add weekdays based on dates

data_without_columns_test['weekday'] = data_without_columns_test['date'].dt.weekday
data_without_columns_train['weekday'] = data_without_columns_train['date'].dt.weekday


# add whether the date is a weekend or not, 0 is no and 1 is yes

data_without_columns_test['weekend'] = np.multiply((data_without_columns_test['date'].dt.weekday >= 5), 1)
data_without_columns_train['weekend'] = np.multiply((data_without_columns_train['date'].dt.weekday >= 5),1)



# add month based on dates

data_without_columns_test['month'] = data_without_columns_test['date'].dt.month
data_without_columns_train['month'] = data_without_columns_train['date'].dt.month


# add which day out of all days in the year it is

data_without_columns_test['dayofyear'] = data_without_columns_test['date'].dt.dayofyear
data_without_columns_train['dayofyear'] = data_without_columns_train['date'].dt.dayofyear


# what quarter is the date part of

data_without_columns_test['quarter'] = data_without_columns_test['date'].dt.quarter
data_without_columns_train['quarter'] = data_without_columns_train['date'].dt.quarter

In [224]:
data_without_columns_test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_azimuth_angle,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,date,weekday,weekend,month,dayofyear,quarter
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,0.177392,0.252598,0.191509,0.688186,0.561376,0.453115,0.059342,...,0.947069,0.021883,0.233329,0.288105,2020-01-02,3,0,1,2,1
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,0.288469,0.389108,0.284971,0.694349,0.571036,0.451379,0.056747,...,0.988676,0.524368,0.236026,0.232813,2020-01-03,4,0,1,3,1
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,0.276863,0.371910,0.282458,0.702425,0.606826,0.484892,0.056664,...,0.986635,0.845732,0.238804,0.177580,2020-01-04,5,1,1,4,1
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,0.233957,0.498746,0.342253,0.684603,0.614167,0.422188,0.060766,...,0.042555,0.895713,0.229819,0.411028,2020-01-05,6,1,1,5,1
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,0.145892,0.697599,0.391999,0.642171,0.545704,0.419144,0.060844,...,0.043357,0.619490,0.233128,0.355648,2020-01-06,0,0,1,6,1

In [225]:
###################################################################################################################################

In [226]:
# create data set with mean values as replacement for NaN's

# for test data
data_with_mean_NaN_test = dataDF_test.copy()
data_with_mean_NaN_test = data_with_mean_NaN_test.fillna(data_with_mean_NaN_test.mean())

# for train data
data_with_mean_NaN_train = dataDF_train.copy()
data_with_mean_NaN_train = data_with_mean_NaN_train.fillna(data_with_mean_NaN_train.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

In [227]:
# remove targets and create labels

data_with_mean_NaN_train_labels = data_with_mean_NaN_train[['target']]
data_with_mean_NaN_train = data_with_mean_NaN_train.drop(["target", "target_min", "target_max", "target_variance", "target_count"], axis=1)

In [228]:
# normalize data

# for test data
x = data_with_mean_NaN_test.iloc[:,3:]
data_with_mean_NaN_test.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

# for train data
x = data_with_mean_NaN_train.iloc[:,3:]
data_with_mean_NaN_train.iloc[:,3:] = (x-x.min())/ (x.max() - x.min())

In [229]:
# convert dates to datetime 
# useless now

data_with_mean_NaN_test['date'] = pd.to_datetime(data_with_mean_NaN_test['Date'],format='%Y-%m-%d')
data_with_mean_NaN_train['date'] = pd.to_datetime(data_with_mean_NaN_train['Date'],format='%Y-%m-%d')



# add weekdays based on dates

data_with_mean_NaN_test['weekday'] = data_with_mean_NaN_test['date'].dt.weekday
data_with_mean_NaN_train['weekday'] = data_with_mean_NaN_train['date'].dt.weekday


# add whether the date is a weekend or not, 0 is no and 1 is yes

data_with_mean_NaN_test['weekend'] = np.multiply((data_with_mean_NaN_test['date'].dt.weekday >= 5),1)
data_with_mean_NaN_train['weekend'] = np.multiply((data_with_mean_NaN_train['date'].dt.weekday >= 5),1)



# add month based on dates

data_with_mean_NaN_test['month'] = data_with_mean_NaN_test['date'].dt.month
data_with_mean_NaN_train['month'] = data_with_mean_NaN_train['date'].dt.month


# add which day out of all days in the year it is

data_with_mean_NaN_test['dayofyear'] = data_with_mean_NaN_test['date'].dt.dayofyear
data_with_mean_NaN_train['dayofyear'] = data_with_mean_NaN_train['date'].dt.dayofyear


# what quarter is the date part of

data_with_mean_NaN_test['quarter'] = data_with_mean_NaN_test['date'].dt.quarter
data_with_mean_NaN_train['quarter'] = data_with_mean_NaN_train['date'].dt.quarter

In [230]:
data_with_mean_NaN_test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,date,weekday,weekend,month,dayofyear,quarter
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,0.172026,0.251876,0.191509,0.671532,0.554036,0.480241,0.066579,...,0.583725,0.234291,0.30187,0.344853,2020-01-02,3,0,1,2,1
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,0.279743,0.387996,0.284971,0.677546,0.561707,0.478591,0.064258,...,0.583725,0.234291,0.30187,0.344853,2020-01-03,4,0,1,3,1
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,0.268489,0.370847,0.282458,0.685426,0.590125,0.510442,0.064183,...,0.583725,0.234291,0.30187,0.344853,2020-01-04,5,1,1,4,1
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,0.226880,0.497320,0.342253,0.668036,0.595955,0.450849,0.067852,...,0.583725,0.234291,0.30187,0.344853,2020-01-05,6,1,1,5,1
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,0.141479,0.695606,0.391999,0.626631,0.541592,0.447955,0.067922,...,0.026191,0.697630,0.23345,0.407560,2020-01-06,0,0,1,6,1

In [231]:
data_with_mean_NaN_test.groupby('Place_ID').count()

,Place_ID X Date,Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,...,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,date,weekday,weekend,month,dayofyear,quarter
Place_ID,,,,,,,,,,,,,,,,,,,,,
0OS9LVX,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
0Q2LTOG,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
15WCXN1,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
19090SM,69,69,69,69,69,69,69,69,69,69,...,69,69,69,69,69,69,69,69,69,69
1BD5TVT,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YY9I2R1,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
YYOM5TU,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
Z2XYMS4,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
ZIESWTR,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
ZZDJZMS,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94

In [232]:
data_with_mean_NaN_train.groupby('Place_ID').count()

,Place_ID X Date,Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,...,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,date,weekday,weekend,month,dayofyear,quarter
Place_ID,,,,,,,,,,,,,,,,,,,,,
010Q650,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
05EC30X,90,90,90,90,90,90,90,90,90,90,...,90,90,90,90,90,90,90,90,90,90
0DPWHX8,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
0GBXTHY,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
0HYPV1N,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YLLOKEY,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
YLZOBFW,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
YPXSK14,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
YSIXKFZ,94,94,94,94,94,94,94,94,94,94,...,94,94,94,94,94,94,94,94,94,94
YWSFY6Q,78,78,78,78,78,78,78,78,78,78,...,78,78,78,78,78,78,78,78,78,78

In [233]:
# train and test cities are not the same -> cant use any location information for prediction -> drop location ID
# multivariate time series forecasting is really dificult to implement, since we need to use the dates of the data for this,
# but the dates are not sorted, in that different locations have the same dates and different locations are independet of each other, 
# so the right prediction from the 5th of march to the 15th of march for place A does give us no indication for place B in the same exact time frame,
# so we would need a LSTM for every single city (?) which is not possible with over 300 cities in the train data alone

In [234]:
# find out most important features through PCA

from sklearn.decomposition import PCA

test_data = data_with_mean_NaN_test.copy()
test_data = test_data.drop(["Place_ID", "Place_ID X Date", "Date", "date", "weekday", "month","weekend","quarter","dayofyear"], axis = 1)

# just tried around and found out that 6 features are the best match
pca = PCA(n_components=6).fit(test_data)

# number of components, in our case 6
number_of_components = pca.components_.shape[0]

# get the index of the most important features
most_important = []
for component in range(number_of_components):
  most_important.append(abs(pca.components_[component]).argmax())

initial_feature_names = data_with_mean_NaN_test.columns
# get the names of the most important features
most_important_names = []
for name in range(number_of_components):
  most_important_names.append(initial_feature_names[most_important[name]])

# individual features importance in descending order
for i in range(number_of_components):
  print(most_important_names[i] + " explains " + str(np.round(pca.explained_variance_ratio_[i] * 100)) + "% of the variance \n")

# total explainibility of all six features combined
print("\n All six features together can explain " + str(np.round(sum(pca.explained_variance_ratio_)*100)) + "% of the variance")

L3_CLOUD_cloud_optical_depth explains 26.0% of the variance

L3_O3_O3_effective_temperature explains 17.0% of the variance

L3_NO2_tropospheric_NO2_column_number_density explains 13.0% of the variance

L3_NO2_NO2_slant_column_number_density explains 8.0% of the variance

L3_O3_cloud_fraction explains 7.0% of the variance

L3_HCHO_tropospheric_HCHO_column_number_density explains 4.0% of the variance


 All six features together can explain 74.0% of the variance

In [235]:
# we now get the data of each of these important features and "insert" it into the next data point, as an example a Tuesday 
# also has the data of the important features of Monday and so on.
# So we have the benefit of a sequential model, without implementing it, since it is not possible with our kind of data.

In [236]:
test_drive = data_with_mean_NaN_test.copy()
test_drive[most_important_names[0] + "_NEU_" + str(1)] = 0

In [237]:
test_drive.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,date,weekday,weekend,month,dayofyear,quarter,L3_CLOUD_cloud_optical_depth_NEU_1
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,0.172026,0.251876,0.191509,0.671532,0.554036,0.480241,0.066579,...,0.234291,0.30187,0.344853,2020-01-02,3,0,1,2,1,0
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,0.279743,0.387996,0.284971,0.677546,0.561707,0.478591,0.064258,...,0.234291,0.30187,0.344853,2020-01-03,4,0,1,3,1,0
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,0.268489,0.370847,0.282458,0.685426,0.590125,0.510442,0.064183,...,0.234291,0.30187,0.344853,2020-01-04,5,1,1,4,1,0
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,0.226880,0.497320,0.342253,0.668036,0.595955,0.450849,0.067852,...,0.234291,0.30187,0.344853,2020-01-05,6,1,1,5,1,0
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,0.141479,0.695606,0.391999,0.626631,0.541592,0.447955,0.067922,...,0.697630,0.23345,0.407560,2020-01-06,0,0,1,6,1,0

In [238]:
# the idea is to shift the data set by one, but since different locations are independent of each other, we cant shift a value from
# one location to another location. To avoid this we tried to compare the location id's and if they are the same, we then go ahead
# and add the shifted value
# spoiler alert: this doesnt work for some reason

shifted_data_with_mean_NaN_test = data_with_mean_NaN_test.copy()
shifted_data_with_mean_NaN_test = shifted_data_with_mean_NaN_test.shift(1)



for i in range(len(test_drive)):
  if test_drive.at[i, 'Place_ID'] == shifted_data_with_mean_NaN_test.at[i, 'Place_ID']:
    test_drive.at[i, 'L3_CLOUD_cloud_optical_depth_NEU_1'] = shifted_data_with_mean_NaN_test.at[i, 'L3_CLOUD_cloud_optical_depth']

In [239]:
# addded the original data to the dataset again, so they are next to each other and better to compare
# here we can see, that the shifted data is vastly different then the original, which i do not understand at all
test_drive["original_L3_CLOUD_cloud_optical_depth"] = test_drive['L3_CLOUD_cloud_optical_depth']
test_drive.describe()

,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,L3_NO2_absorbing_aerosol_index,L3_NO2_cloud_fraction,...,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle,weekday,weekend,month,dayofyear,quarter,L3_CLOUD_cloud_optical_depth_NEU_1,original_L3_CLOUD_cloud_optical_depth
count,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,...,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000,16136.000000
mean,0.213860,0.690636,0.263010,0.573858,0.461792,0.460754,0.102072,0.123798,0.276832,0.293308,...,0.234291,0.301870,0.344853,3.029623,0.286254,2.102938,48.726946,1.041646,0.000062,0.076963
std,0.150757,0.196758,0.163842,0.130663,0.079894,0.094866,0.063562,0.071850,0.067986,0.293813,...,0.132453,0.106682,0.157687,1.979690,0.452024,0.897610,27.114616,0.199785,0.007872,0.101216
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000,0.000000,0.000000
25%,0.108606,0.571275,0.156906,0.485203,0.414172,0.405290,0.072287,0.096321,0.230221,0.035840,...,0.234291,0.301870,0.344853,1.000000,0.000000,1.000000,25.000000,1.000000,0.000000,0.018389
50%,0.172026,0.729904,0.217638,0.554839,0.454567,0.458461,0.090332,0.118817,0.275050,0.217236,...,0.234291,0.301870,0.344853,3.000000,0.000000,2.000000,49.000000,1.000000,0.000000,0.039961
75%,0.276527,0.844587,0.317549,0.658151,0.503974,0.512664,0.111448,0.138718,0.313092,0.460714,...,0.234291,0.301870,0.344853,5.000000,1.000000,3.000000,72.000000,1.000000,0.000000,0.086853
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,6.000000,1.000000,4.000000,95.000000,2.000000,1.000000,1.000000

In [240]:
# we have created these before, when we used PCA to figure out the most important features in the dataset
# just a quick look for understanding
print(most_important_names)

# go through each important feature and put a shifted copy of it as a new feature in the data
# we use a shift of 1, so we will have the data of the important feature of the 1 day before as well
# room for improvement: we shifted all the data even though the locations change in between
# so the better approach would be to look at the locations and only shift in these intervals, but 
# this made us problems for some reason, as mentioned above
for name in most_important_names:
    for i in range(1):
        data_with_mean_NaN_train[name+'_of_'+str(i+1)+'_day_before'] = data_with_mean_NaN_train[name].shift(i+1)
        data_with_mean_NaN_test[name+'_of_'+str(i+1)+'_day_before'] = data_with_mean_NaN_test[name].shift(i+1)

        data_without_columns_train[name+'_of_'+str(i+1)+'_day_before'] = data_without_columns_train[name].shift(i+1)
        data_without_columns_test[name+'_of_'+str(i+1)+'_day_before'] = data_without_columns_test[name].shift(i+1)

['L3_CLOUD_cloud_optical_depth', 'L3_O3_O3_effective_temperature', 'L3_NO2_tropospheric_NO2_column_number_density', 'L3_NO2_NO2_slant_column_number_density', 'L3_O3_cloud_fraction', 'L3_HCHO_tropospheric_HCHO_column_number_density']

In [241]:
data_with_mean_NaN_test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,weekend,month,dayofyear,quarter,L3_CLOUD_cloud_optical_depth_of_1_day_before,L3_O3_O3_effective_temperature_of_1_day_before,L3_NO2_tropospheric_NO2_column_number_density_of_1_day_before,L3_NO2_NO2_slant_column_number_density_of_1_day_before,L3_O3_cloud_fraction_of_1_day_before,L3_HCHO_tropospheric_HCHO_column_number_density_of_1_day_before
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,0.172026,0.251876,0.191509,0.671532,0.554036,0.480241,0.066579,...,0,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,0.279743,0.387996,0.284971,0.677546,0.561707,0.478591,0.064258,...,0,1,3,1,0.022665,0.962501,0.042741,0.080534,0.032071,0.460072
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,0.268489,0.370847,0.282458,0.685426,0.590125,0.510442,0.064183,...,1,1,4,1,0.031151,0.963860,0.040328,0.081211,0.044784,0.451154
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,0.226880,0.497320,0.342253,0.668036,0.595955,0.450849,0.067852,...,1,1,5,1,0.023082,0.969983,0.041434,0.100091,0.007113,0.430230
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,0.141479,0.695606,0.391999,0.626631,0.541592,0.447955,0.067922,...,0,1,6,1,0.023214,0.966378,0.047837,0.115105,0.062076,0.411206

In [242]:
data_without_columns_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18219 entries, 1 to 30555
Data columns (total 82 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Place_ID X Date                                                  18219 non-null  object
 1   Date                                                             18219 non-null  object
 2   Place_ID                                                         18219 non-null  object
 3   precipitable_water_entire_atmosphere                             18219 non-null  float64
 4   relative_humidity_2m_above_ground                                18219 non-null  float64
 5   specific_humidity_2m_above_ground                                18219 non-null  float64
 6   temperature_2m_above_ground                                      18219 non-null  float64
 7   u_component_of_wind_10m_above_ground                             18219 non-null  float64
 8   v_component_of_wind_10m_above_ground                             18219 non-null  float64
 9   L3_NO2_NO2_column_number_density                                 18219 non-null  float64
 10  L3_NO2_NO2_slant_column_number_density                           18219 non-null  float64
 11  L3_NO2_absorbing_aerosol_index                                   18219 non-null  float64
 12  L3_NO2_cloud_fraction                                            18219 non-null  float64
 13  L3_NO2_sensor_altitude                                           18219 non-null  float64
 14  L3_NO2_sensor_azimuth_angle                                      18219 non-null  float64
 15  L3_NO2_sensor_zenith_angle                                       18219 non-null  float64
 16  L3_NO2_solar_azimuth_angle                                       18219 non-null  float64
 17  L3_NO2_solar_zenith_angle                                        18219 non-null  float64
 18  L3_NO2_stratospheric_NO2_column_number_density                   18219 non-null  float64
 19  L3_NO2_tropopause_pressure                                       18219 non-null  float64
 20  L3_NO2_tropospheric_NO2_column_number_density                    18219 non-null  float64
 21  L3_O3_O3_column_number_density                                   18219 non-null  float64
 22  L3_O3_O3_effective_temperature                                   18219 non-null  float64
 23  L3_O3_cloud_fraction                                             18219 non-null  float64
 24  L3_O3_sensor_azimuth_angle                                       18219 non-null  float64
 25  L3_O3_sensor_zenith_angle                                        18219 non-null  float64
 26  L3_O3_solar_azimuth_angle                                        18219 non-null  float64
 27  L3_O3_solar_zenith_angle                                         18219 non-null  float64
 28  L3_CO_CO_column_number_density                                   18219 non-null  float64
 29  L3_CO_H2O_column_number_density                                  18219 non-null  float64
 30  L3_CO_cloud_height                                               18219 non-null  float64
 31  L3_CO_sensor_altitude                                            18219 non-null  float64
 32  L3_CO_sensor_azimuth_angle                                       18219 non-null  float64
 33  L3_CO_sensor_zenith_angle                                        18219 non-null  float64
 34  L3_CO_solar_azimuth_angle                                        18219 non-null  float64
 35  L3_CO_solar_zenith_angle                                         18219 non-null  float64
 36  L3_HCHO_HCHO_slant_column_number_density                         18219 non-null  float64
 37  L3_HCHO_cloud_fraction                                           18219 non-null  float64
 38  L3_HCHO_sensor_azimuth_angle                                     18219 non-null  float64
 39  L3_HCHO_sensor_zenith_angle                                      18219 non-null  float64
 40  L3_HCHO_solar_azimuth_angle                                      18219 non-null  float64
 41  L3_HCHO_solar_zenith_angle                                       18219 non-null  float64
 42  L3_HCHO_tropospheric_HCHO_column_number_density                  18219 non-null  float64
 43  L3_HCHO_tropospheric_HCHO_column_number_density_amf              18219 non-null  float64
 44  L3_CLOUD_cloud_base_height                                       18219 non-null  float64
 45  L3_CLOUD_cloud_base_pressure                                     18219 non-null  float64
 46  L3_CLOUD_cloud_fraction                                          18219 non-null  float64
 47  L3_CLOUD_cloud_optical_depth                                     18219 non-null  float64
 48  L3_CLOUD_cloud_top_height                                        18219 non-null  float64
 49  L3_CLOUD_cloud_top_pressure                                      18219 non-null  float64
 50  L3_CLOUD_sensor_azimuth_angle                                    18219 non-null  float64
 51  L3_CLOUD_sensor_zenith_angle                                     18219 non-null  float64
 52  L3_CLOUD_solar_azimuth_angle                                     18219 non-null  float64
 53  L3_CLOUD_solar_zenith_angle                                      18219 non-null  float64
 54  L3_CLOUD_surface_albedo                                          18219 non-null  float64
 55  L3_AER_AI_absorbing_aerosol_index                                18219 non-null  float64
 56  L3_AER_AI_sensor_altitude                                        18219 non-null  float64
 57  L3_AER_AI_sensor_azimuth_angle                                   18219 non-null  float64
 58  L3_AER_AI_sensor_zenith_angle                                    18219 non-null  float64
 59  L3_AER_AI_solar_azimuth_angle                                    18219 non-null  float64
 60  L3_AER_AI_solar_zenith_angle                                     18219 non-null  float64
 61  L3_SO2_SO2_column_number_density                                 18219 non-null  float64
 62  L3_SO2_SO2_column_number_density_amf                             18219 non-null  float64
 63  L3_SO2_SO2_slant_column_number_density                           18219 non-null  float64
 64  L3_SO2_absorbing_aerosol_index                                   18219 non-null  float64
 65  L3_SO2_cloud_fraction                                            18219 non-null  float64
 66  L3_SO2_sensor_azimuth_angle                                      18219 non-null  float64
 67  L3_SO2_sensor_zenith_angle                                       18219 non-null  float64
 68  L3_SO2_solar_azimuth_angle                                       18219 non-null  float64
 69  L3_SO2_solar_zenith_angle                                        18219 non-null  float64
 70  date                                                             18219 non-null  datetime64[ns]
 71  weekday                                                          18219 non-null  int64
 72  weekend                                                          18219 non-null  int64
 73  month                                                            18219 non-null  int64
 74  dayofyear                                                        18219 non-null  int64
 75  quarter                                                          18219 non-null  int64
 76  L3_CLOUD_cloud_optical_depth_of_1_day_before                     18218 non-null  float64
 77  L3_O3_O3_effective_temperature_of_1_day_before                   18218 non-null  float64
 78  L3_NO2_tropospheric_NO2_column_number_density_of_1_day_before    18218 non-null  float64
 79  L3_NO2_NO2_slant_column_number_density_of_1_day_before           18218 non-null  float64
 80  L3_O3_cloud_fraction_of_1_day_before                             18218 non-null  float64
 81  L3_HCHO_tropospheric_HCHO_column_number_density_of_1_day_before  18218 non-null  float64
dtypes: datetime64[ns](1), float64(73), int64(5), object(3)
memory usage: 11.5+ MB

In [243]:
# through shifting we have created (1) NaN's once again, so we need to drop that row
# we also need to drop the locations and dates as they have no use for us and do not work in our planned model

# drop NaN's

data_with_mean_NaN_train = data_with_mean_NaN_train.dropna()
data_with_mean_NaN_test = data_with_mean_NaN_test.dropna()

data_without_columns_train = data_without_columns_train.dropna()
data_without_columns_test = data_without_columns_test.dropna()


# drop dates and locations
data_with_mean_NaN_train = data_with_mean_NaN_train.drop(["Place_ID X Date", "Date", "Place_ID", "date"], axis = 1)
data_with_mean_NaN_test = data_with_mean_NaN_test.drop(["Place_ID X Date", "Date", "Place_ID"], axis = 1)

data_without_columns_train = data_without_columns_train.drop(["Place_ID X Date", "Date", "Place_ID", "date"], axis = 1)
data_without_columns_test = data_without_columns_test.drop(["Place_ID X Date", "Date", "Place_ID", "date"], axis = 1)

In [244]:
data_without_columns_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18218 entries, 2 to 30555
Data columns (total 78 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   precipitable_water_entire_atmosphere                             18218 non-null  float64
 1   relative_humidity_2m_above_ground                                18218 non-null  float64
 2   specific_humidity_2m_above_ground                                18218 non-null  float64
 3   temperature_2m_above_ground                                      18218 non-null  float64
 4   u_component_of_wind_10m_above_ground                             18218 non-null  float64
 5   v_component_of_wind_10m_above_ground                             18218 non-null  float64
 6   L3_NO2_NO2_column_number_density                                 18218 non-null  float64
 7   L3_NO2_NO2_slant_column_number_density                           18218 non-null  float64
 8   L3_NO2_absorbing_aerosol_index                                   18218 non-null  float64
 9   L3_NO2_cloud_fraction                                            18218 non-null  float64
 10  L3_NO2_sensor_altitude                                           18218 non-null  float64
 11  L3_NO2_sensor_azimuth_angle                                      18218 non-null  float64
 12  L3_NO2_sensor_zenith_angle                                       18218 non-null  float64
 13  L3_NO2_solar_azimuth_angle                                       18218 non-null  float64
 14  L3_NO2_solar_zenith_angle                                        18218 non-null  float64
 15  L3_NO2_stratospheric_NO2_column_number_density                   18218 non-null  float64
 16  L3_NO2_tropopause_pressure                                       18218 non-null  float64
 17  L3_NO2_tropospheric_NO2_column_number_density                    18218 non-null  float64
 18  L3_O3_O3_column_number_density                                   18218 non-null  float64
 19  L3_O3_O3_effective_temperature                                   18218 non-null  float64
 20  L3_O3_cloud_fraction                                             18218 non-null  float64
 21  L3_O3_sensor_azimuth_angle                                       18218 non-null  float64
 22  L3_O3_sensor_zenith_angle                                        18218 non-null  float64
 23  L3_O3_solar_azimuth_angle                                        18218 non-null  float64
 24  L3_O3_solar_zenith_angle                                         18218 non-null  float64
 25  L3_CO_CO_column_number_density                                   18218 non-null  float64
 26  L3_CO_H2O_column_number_density                                  18218 non-null  float64
 27  L3_CO_cloud_height                                               18218 non-null  float64
 28  L3_CO_sensor_altitude                                            18218 non-null  float64
 29  L3_CO_sensor_azimuth_angle                                       18218 non-null  float64
 30  L3_CO_sensor_zenith_angle                                        18218 non-null  float64
 31  L3_CO_solar_azimuth_angle                                        18218 non-null  float64
 32  L3_CO_solar_zenith_angle                                         18218 non-null  float64
 33  L3_HCHO_HCHO_slant_column_number_density                         18218 non-null  float64
 34  L3_HCHO_cloud_fraction                                           18218 non-null  float64
 35  L3_HCHO_sensor_azimuth_angle                                     18218 non-null  float64
 36  L3_HCHO_sensor_zenith_angle                                      18218 non-null  float64
 37  L3_HCHO_solar_azimuth_angle                                      18218 non-null  float64
 38  L3_HCHO_solar_zenith_angle                                       18218 non-null  float64
 39  L3_HCHO_tropospheric_HCHO_column_number_density                  18218 non-null  float64
 40  L3_HCHO_tropospheric_HCHO_column_number_density_amf              18218 non-null  float64
 41  L3_CLOUD_cloud_base_height                                       18218 non-null  float64
 42  L3_CLOUD_cloud_base_pressure                                     18218 non-null  float64
 43  L3_CLOUD_cloud_fraction                                          18218 non-null  float64
 44  L3_CLOUD_cloud_optical_depth                                     18218 non-null  float64
 45  L3_CLOUD_cloud_top_height                                        18218 non-null  float64
 46  L3_CLOUD_cloud_top_pressure                                      18218 non-null  float64
 47  L3_CLOUD_sensor_azimuth_angle                                    18218 non-null  float64
 48  L3_CLOUD_sensor_zenith_angle                                     18218 non-null  float64
 49  L3_CLOUD_solar_azimuth_angle                                     18218 non-null  float64
 50  L3_CLOUD_solar_zenith_angle                                      18218 non-null  float64
 51  L3_CLOUD_surface_albedo                                          18218 non-null  float64
 52  L3_AER_AI_absorbing_aerosol_index                                18218 non-null  float64
 53  L3_AER_AI_sensor_altitude                                        18218 non-null  float64
 54  L3_AER_AI_sensor_azimuth_angle                                   18218 non-null  float64
 55  L3_AER_AI_sensor_zenith_angle                                    18218 non-null  float64
 56  L3_AER_AI_solar_azimuth_angle                                    18218 non-null  float64
 57  L3_AER_AI_solar_zenith_angle                                     18218 non-null  float64
 58  L3_SO2_SO2_column_number_density                                 18218 non-null  float64
 59  L3_SO2_SO2_column_number_density_amf                             18218 non-null  float64
 60  L3_SO2_SO2_slant_column_number_density                           18218 non-null  float64
 61  L3_SO2_absorbing_aerosol_index                                   18218 non-null  float64
 62  L3_SO2_cloud_fraction                                            18218 non-null  float64
 63  L3_SO2_sensor_azimuth_angle                                      18218 non-null  float64
 64  L3_SO2_sensor_zenith_angle                                       18218 non-null  float64
 65  L3_SO2_solar_azimuth_angle                                       18218 non-null  float64
 66  L3_SO2_solar_zenith_angle                                        18218 non-null  float64
 67  weekday                                                          18218 non-null  int64
 68  weekend                                                          18218 non-null  int64
 69  month                                                            18218 non-null  int64
 70  dayofyear                                                        18218 non-null  int64
 71  quarter                                                          18218 non-null  int64
 72  L3_CLOUD_cloud_optical_depth_of_1_day_before                     18218 non-null  float64
 73  L3_O3_O3_effective_temperature_of_1_day_before                   18218 non-null  float64
 74  L3_NO2_tropospheric_NO2_column_number_density_of_1_day_before    18218 non-null  float64
 75  L3_NO2_NO2_slant_column_number_density_of_1_day_before           18218 non-null  float64
 76  L3_O3_cloud_fraction_of_1_day_before                             18218 non-null  float64
 77  L3_HCHO_tropospheric_HCHO_column_number_density_of_1_day_before  18218 non-null  float64
dtypes: float64(73), int64(5)
memory usage: 11.0 MB